<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Accounting_FormsFillingAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Accounting_FormsFillingAssistant.Properties.Settings>
            <setting name="PathToDataBase" serializeAs="String">
                <value />
            </setting>
            <setting name="MainOrganisationId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ListOfBookmarksNames_Accreditiv" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ak_01_Number</string>
                        <string>ak_02_CurrentDate</string>
                        <string>ak_03_PaymentType</string>
                        <string>ak_04_SumInCuirsive</string>
                        <string>ak_05_INN_Payer</string>
                        <string>ak_06_SumNumber</string>
                        <string>ak_07_PayerName</string>
                        <string>ak_08_PayerBankAccount</string>
                        <string>ak_09_Payer_BankName</string>
                        <string>ak_10_Payer_Bank_BIK</string>
                        <string>ak_11_Payer_Bank_BankAccount</string>
                        <string>ak_12_Recipient_BankName</string>
                        <string>ak_13_Recipient_Bank_BIK</string>
                        <string>ak_14_Recipient_Bank_BankAccount</string>
                        <string>ak_15_INN_Recipient</string>
                        <string>ak_16_RecipientName</string>
                        <string>ak_17_Recipient_BankAccount</string>
                        <string>ak_18_OperationType</string>
                        <string>ak_19_NazPL</string>
                        <string>ak_20_Code</string>
                        <string>ak_21_AkTimePeriod</string>
                        <string>ak_22_ResField</string>
                        <string>ak_23_AkType</string>
                        <string>ak_24_PaymentCondition</string>
                        <string>ak_25_ConditionsDetails</string>
                        <string>ak_26_SubmissionPayment</string>
                        <string>ak_27_AdditionalDetails</string>
                        <string>ak_28_Recipient_BankAccount_2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PathToWorkingDirectory" serializeAs="String">
                <value />
            </setting>
        </Accounting_FormsFillingAssistant.Properties.Settings>
    </userSettings>
</configuration>